.card {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    height: 280px;
    position: relative;
    width: 280px;

    .image {
        background-size: cover;
        inset: 0;
        position: absolute;
        transition: transform 500ms ease;
    }

    .image:hover {
        transform: scale(1.03);
    }
}

.overlay {
    background-image: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 85%) 90%);
    inset: 20% 0 0;
    position: absolute;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
}

.title {
    color: var(--mantine-color-white);
    margin-bottom: 5px;
}

.body-text {
    color: var(--mantine-color-dark-2);
    margin-left: 7px;
}

.author {
    color: var(--mantine-color-dark-2);
}