.card {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
    display: flex;
    inset: 0;
    position: absolute !important;
  }
  
  .section {
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  }

  .picture-section {
    flex-grow: 1;

    & img{
      object-position: center;
    }
  }
  
  .like {
    color: var(--mantine-color-red-6);
    height: 20px;
    width: 20px;
  }
  
  .label {
    font-size: var(--mantine-font-size-xs);
    font-weight: 700;
    text-transform: uppercase;
  }

  .footer{
    height: 40px;
  }