.navbar {
    background-color: var(--mantine-color-blue-filled) !important;
    display: flex;
    flex-direction: column;
    height: 750px;
    padding: var(--mantine-spacing-md);
    width: 80px;
}

.navbar-main {
    flex: 1;
    margin-top: 50px;
}

.link {
    align-items: center;
    border-radius: var(--mantine-radius-md);
    color: var(--mantine-color-white);
    display: flex;
    height: 50px;
    justify-content: center;
    width: 50px;

    &:hover {
        background-color: var(--mantine-color-blue-7);
    }

    &.active:hover {
        background-color: var(--mantine-color-white);
        box-shadow: var(--mantine-shadow-sm);
        color: var(--mantine-color-blue-6);
    }
}